<%layout("layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h3>Create a new listing</h3>
    <form 
    method="POST" 
    action="/listings" 
    novalidate class="needs-validation" 
    enctype="multipart/form-data"
    >
      <div class="mb-3">
       <label  for="title" class="form-label">Title</label>
        <input 
        name="listing[title]" 
        placeholder="enter title" 
        type="text" 
        class="form-control"
        required
        />
        <div class="valid-feedback">Noiceeee!</div>
      </div>
      <div class="mb-3" >
        <label for="description" class="form-label">Description</label>
        <textarea 
        name="listing[description]" 
        class="form-control"
        required
        ></textarea>
        <div class="invalid-feedback">some context bruh?</div>
      </div>
    <div class="mb-3" >
      <label for="imageUrl" class="form-label">Image Upload</label>
      <input 
        name="listing[image]" 
        type="file" 
        class="form-control"
        required>
    </div>

    <div class="mb-3">
  <label for="category" class="form-label">Category</label>
   <select 
   class="form-select" 
   name="listing[category]" 
   required
   >
    <option value="Trending">Trending</option>
    <option value="Rooms">Rooms</option>
    <option value="Ionic cities">Ionic cities</option>
    <option value="Beaches">Beaches</option>
    <option value="Camping">Camping</option>
    <option value="Architecture">Architecture</option>
    </select>
  </div>


    <div class="row">
      <div class="mb-3 col-md-4">
        <label  for="price" class="form-label" class="form-label">Price</label>
        <input 
        name="listing[price]" 
        placeholder="enter price" 
        class="form-control"
        required
        />
        <div class="invalid-feedback">Hey please enter a valid price bruhhh</div>
      </div>
      <div class="mb-3 col-md-8">
        <label  for="country" class="form-label" class="form-label">Country</label>
        <input 
        name="listing[country]" 
        placeholder="enter country" 
        type="text"
        class="form-control"
        required
        />
        <div class="invalid-feedback">could you enter the country that exists!?</div>
      </div>
    </div>
      <div class="mb-3">
        <label  for="location" class="form-label" class="form-label">Location</label>
        <input name="listing[location]" 
        placeholder="enter location" 
        type="text"
        class="form-control"
        required
        />
        <div class="invalid-feedback">OK where does this exist!?</div>
      </div>
        <br /><br />
        <button class="btn btn-dark add-btn">Add</button>
        <br /> <br />
    </form>
  </div>
</div>
